*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.site-header{
	background-color:#1f2937;
	padding: 18px 20px
}
.container{
	max-width: 1100px;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
}
.logo a{
	font-size:24px ;
	color:#f9faf8;
	text-decoration: none;
	

}
.logo img{
	width:60px;
	border-radius: 50px;
}
.nav {
	display:flex;
	gap:20px;
	
}
.nav a{
	font-size: 18px;
	color:#e5e7eb;
	text-decoration: none;
}
.hero{
	background-color:#1f2937;
	padding:60px 20px
}
.hero-img{
	width: 520px;
	border-radius: 8px;
	display: block;
}
.hero-main h1{
	font-size: 48px;
	font-weight:900;
	color:#f9faf8
}
.hero-main p{
	font-size: 18px;
	color:#e5e7eb
}
button{
	color:white;
	background-color:#3882F6;
	padding: 12px 40px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.info-sect{
	margin-bottom: 60px;
}
.info-sect>p{
	text-align: center;
font-size: 36px;
color:#1f2937;
font-weight: 900;
margin-bottom: 20px;
}
.info-sect .container{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}
.info-sect .container > div{
	
	border: 1px solid black;
	border-radius: 8px;
	
	height: 220px;
	width: calc((100% - 72px)/4); /* 4 columns with 24px gaps */
	
}
.info-sect .container > div img{
	width: 100%;
	height: 100%;
	margin-bottom: 12px;
}

.call-to-act .container{
	background-color: #3882F6;
	border-radius: 10px;
	padding: 40px 70px;
	color: #fff;
}
.quote{
	background-color:#e5e7eb;
font-size: 36px;
font-weight: 300;
color:#1f2937;
margin-top: 20px;
margin-bottom: 20px;
padding: 40px 20px;

}
.quote .new{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.foot{
	background-color:#1f2937;
	text-align: center;
	color: #e5e7eb;
	padding: 20px;
	margin-top: 40px;
}